<div style="text-align: center">
  <h1><%= @game.player1_name %> attacked <%= @game.player2_name %></h1>
  <form action='/play' method='get'>
    <input type='submit' value='Continue to battle'>
  </form>
</div>
