
<div style="text-align: center">
  <h1>The Terminator Super Bowl Fight</h1>
  <form action='/names' method='post'>
    <input type='text' name='player_1_name'>
    <input type='text' name='player_2_name'>
    <p><input type='submit' value='May the force be with you'></p>
  </form>
</div>
