<div style="text-align: center">
  <form action='/names' method='post'>
    <input type='text' name='player_1'>
    <input type='text' name='player_2'>
    <input type='submit' value='May the force be with you'>
  </form>
</div>
