<div style="text-align: center">
  <h1> <%= @game.player1_name %> vs <%= @game.player2_name %> </h1>
  <p><%= @game.player2_name %>: <%= @game.player2_hitpoints %>/60HP </p>
  <form action="/attack" method="get">
    <input type="submit" value="Attack">
  </form>
</div>
